name: CI

on:
  push:
    paths:
      - '**.kt'
      - '**.kts'
      - '**.tidy'

jobs:
  build:

    runs-on: macos-15-intel

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 21
        uses: actions/setup-java@v1
        with:
          java-version: 21
      - name: Build with Gradle
        run: |
          git submodule update --init --recursive
          ./gradlew jsTest
#          ./gradlew generateDylib && ./gradlew test buildPlugin --stacktrace